.seat {
  display: inline-block;
  background: #626262;
  width: 20px;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
  cursor: pointer;
}

.seat.selected {
  background: #7bc47f !important;
}

.seat.occupied {
  background: #cfcfcf;
}
